<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean class="com.peilei.springframework.beans.processor.PropertyPlaceholderProcessor">
        <property name="location" value="classpath:important.properties" />
    </bean>
    <component-scan base-package="com.peilei.springframework.test.anno" />
</beans>